@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Teko:wght@500&display=swap');

:root {
  --orange: #f5610c;
  --main-font: 'Teko', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overscroll-behavior: none;
}

body {
  height: 100%;
  width: 100%;
  background: rgb(6,6,6);
  background-image: radial-gradient(circle, rgba(6,6,6,1) 55%, rgba(241,151,15,1) 78%, rgba(238,3,19,1) 100%);
  background-attachment: fixed;
  position: relative;
}

h1 {
  font-family: 'Bungee Spice', cursive;
  font-size: 3.5rem;
  letter-spacing: 3px;
  text-align: center;
  margin-top: 2%;
}

h2 {
  color: var(--orange);
  font-family: var(--main-font);
  text-align: center;
  letter-spacing: 3px;
  margin-top: 1.5rem;
  font-size: 3rem;
}

h3 {
  color: var(--orange);
  text-align: center;
  margin: 1.5rem;
  font-size: 1.6rem;
  font-family: var(--main-font);
}

p {
  color: var(--orange);
  font-family: var(--main-font);
  text-align: center;
  font-size: 1.3rem;
}

button {
  background-image: linear-gradient(45deg, #f9411c 0%, #F09819  51%, #f9411c  100%);
  color: rgb(9, 8, 8);
  border-radius: 10px;
  border: none;
  padding: 10px;
  width: 100px;
  font-family: 'Teko', sans-serif;
  font-size: 1.2rem;
  font-weight: bolder;
  text-align: center;
  letter-spacing: 3px;
}

.btns-grid {
  text-align: center;
  display: grid;
  width: 100px;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
}

.btn-2, .btn-1 {
  grid-column: 1;
  grid-row: 1;
}

.gamearea {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem;
}

/* GAME OVER MODAL */

.overlay {
  background: rgba(39, 38, 40, 0.664);
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 45vw;
  height: 45vh;
  border-radius: 1rem;
  border: 2px solid rgba(255, 255, 255, 0.324);
  background: rgb(6,6,6);
  background-image: radial-gradient(circle, rgba(6,6,6,1) 55%, rgba(241,151,15,1) 78%, rgba(238,3,19,1) 100%);
  position: relative;
}

.modal h4 {
  font-family: 'Teko', sans-serif;
  color: var(--orange);
  text-align: center;
  margin: 1.5rem;
  font-size: 1.5rem;
  letter-spacing: 3px;
}

.close-btn {
  width: 150px;
  position: absolute;
  bottom: 1.5rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

