.circle {
    position: relative;
    margin: 15px;
    width: 180px; 
    height: 180px;
    border-radius: 50%;
    background: 
        linear-gradient(30deg, transparent 40%, rgba(42, 41, 40, .85) 40%) no-repeat 100% 0,
        linear-gradient(60deg, rgba(42, 41, 40, .85) 60%, transparent 60%) no-repeat 0 100%,
        repeating-radial-gradient(#2a2928, #2a2928 4px, #ada9a0 5px, #2a2928 6px);
    background-size: 50% 100%, 100% 50%, 100% 100%;
    cursor: pointer;
  }
  
  .circle:after {
    position: absolute;
    top: 55%; left: 55%;
    margin: -35px;
    border: solid 1px #F09819;
    width: 50px; height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #f9411c,
    inset 0 0 0 27px #f9411c;
    content: '';
  }
  
  .active {
    background: 
        linear-gradient(30deg, transparent 40%, rgba(138, 132, 126, 0.65) 40%) no-repeat 100% 0,
        linear-gradient(60deg, rgba(138, 132, 126, 0.65) 60%, transparent 60%) no-repeat 0 100%,
        repeating-radial-gradient(#807973, #7b7875 4px, #161616 5px, #7a7673 6px);
    background-size: 50% 100%, 100% 50%, 100% 100%;
    display: block;
  }
